body{
  background:url("music.jpg") no-repeat center fixed;
  -webkit-background-size:cover;
  background-size: cover;
}
#heading{
  color:white;
  text-align: center;
  font-size: 90px;
  font-family:monospace;
  font-weight: bold;
}
#bt{
  height:80px;
  width:300px;
  font-weight: bold;
  border-width:5px;
  border-color: #585858;
  margin-top: 15%;
  color:#424242;
}
