body{
  background:url("Music.png") no-repeat center fixed;
  -webkit-background-size:cover;
  background-size: cover;
}
#heading{
  color:white;
  text-align: center;
  font-size: 90px;
  font-family:monospace;
  font-weight: bold;
}
#bt{
  height:80px;
  width:300px;
  font-weight: bold;
  border-width:5px;
  border-color: black;
  margin-top: 15%;
}
#fb{
  position:absolute;
  bottom:0;
  right:0.5%;
  height:20px;
  width:40px;
}
